.App {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.rect {
  fill: none;
  stroke: #000;
  stroke-width: 5;
}
.small {
  fill: #fff;
}
.s {
  cursor: pointer;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}
.m {
  cursor: pointer;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}
.l {
  cursor: pointer;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}
